<div class="details">
    <div class="details_img"><img src="{{recipe.mainImage}}" alt=""></div>
    <div class="details_title">{{recipe.title}}</div>
    <div class="details_description">{{recipe.description}}</div>
    <div class="details_author">{{recipe.author.name}}</div>
</div>
<div class="details_text">
    <div class="title">Ингредиенты</div>
    <div class="details_ingredients">
        <div *ngFor="let i of ingredientList">
            {{i}}
        </div>
    </div>
    <div class="title">Шаги</div>
    <div class="details_steps">
        <div *ngFor="let s of steps">
            {{steps.indexOf(s) + 1}}.
            {{s}}
        </div>
    </div>
</div>
<div class="details_comment">
    <div class="details_comment__item">
        <div class="label">Name</div>
        <input type="text" name="name" [(ngModel)]="commentData.name">
    </div>
    <div class="details_comment__item">
        <div class="label">Comment</div>
        <textarea cols="30" rows="10" name="text" [(ngModel)]="commentData.text"></textarea>
    </div>
</div>
<div class="details_coment__button"><button (click)="leave()">Leave a comment</button></div>
<div class="comment_list">
    <div *ngFor="let c of commentList">
        <div class="comment_list__item">
            <div class="name">
                {{c.username}}
            </div>
            <div class="text">
                {{c.commentData}}
            </div>
        </div>
    </div>
</div>